<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Font_Builder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Font_Builder.Properties.Settings>
            <setting name="BitmatPaddingBetweenChars" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="UVCoordSystem" serializeAs="String">
                <value>OPENGL</value>
            </setting>
            <setting name="MaxLineWidthInPixels" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="MaxLineWidthStyle" serializeAs="String">
                <value>CAP_BY_NO_OF_CHARS</value>
            </setting>
            <setting name="PadBitmapToNextPowerOfTwo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxLineWidthInChars" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="BitmapBackgroundColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
        </Font_Builder.Properties.Settings>
    </userSettings>
</configuration>